<div class="d-flex justify-content-between">
  <i (click)="openFullScreen(content)" class="bi bi-pencil-square"> </i>
  <i class="bi bi-trash3"></i>
</div>
<div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        Update Property
      </h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="updatePropertyForm">
        <div class="row">
          <div class="col-sm-6">
            <div>
              <label for="property" class="form-label">
                Type de propriete</label>
              <div class="input-group">
                <select class="form-select" formControlName="prpType">
                  <option>Maison</option>
                  <option>Appartement</option>
                </select>
              </div>
            </div>

            <div>
              <label for="juridic" class="form-label"> Type juridic</label>
              <div class="input-group">
                <select class="form-select" formControlName="jrcType">
                  <option>AADL</option>
                  <option>logement promotionnel public</option>
                  <option>Logement Social Participatif</option>
                  <option>Logement promotionnel</option>
                  <option>Logement Promotionnel Aidé</option>
                  <option>Contrat de propriété</option>
                </select>
              </div>
            </div>

            <div>
              <label for="address" class="form-label">Address</label>
              <div class="input-group">
                <input type="text" class="form-control" name="address" id="input" formControlName="address" />
              </div>
            </div>

            <div>
              <label for="facade" class="form-label">Facade</label>
              <div class="input-group">
                <input type="tel" class="form-control" name="facade" id="input" formControlName="facade" />
              </div>
            </div>

            <div>
              <label for="surface" class="form-label">Suraface</label>
              <div class="input-group">
                <input type="tel" class="form-control" aria-describedby="surface" id="surface" style="width: 80%"
                  formControlName="surface" />
                <span class="input-group-text" id="surface">m²</span>
              </div>
            </div>
            <div>
              <label for="meublee" class="form-label"> Meublée</label>
              <div class="input-group">
                <select class="form-select" formControlName="meublee">
                  <option>Oui</option>
                  <option>Non</option>
                </select>
              </div>
            </div>

            <div class="form-group pb-4">
              <label class="form-label">Service et accessibilité</label>
              <div class="dropdown" (click)="preventClose($event)">
                <div class="btn btn-secondary dropdown" role="button" id="dropdownMenuButton01"
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="data-selected">
                    {{
                    updatePropertyForm.get("service").value.length > 2
                    ? updatePropertyForm.get("service").value.length +
                    "
                    element"
                    : updatePropertyForm.get("service").value
                    }}
                  </div>
                </div>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <ul class="list-unstyled">
                    <li *ngFor="let item of serviceAccessibilityList">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" [value]="item" id="{{ item }}"
                          (click)="$event.stopPropagation()" (change)="addOrRemoveServiceAccessibility(item, $event)"
                          [checked]="isServiceAccessibilityChecked(item)" />
                        <label class="form-check-label" for="{{ item }}">
                          {{ item }}
                        </label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="form-group pb-4">
              <label class="form-label">hygiène</label>
              <div class="dropdown" (click)="preventClose($event)">
                <div class="btn btn-secondary dropdown" role="button" id="dropdownMenuButton02"
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="data-selected">
                    {{
                    updatePropertyForm.get("hygiene").value.length > 2
                    ? updatePropertyForm.get("hygiene").value.length +
                    "
                    element"
                    : updatePropertyForm.get("hygiene").value
                    }}
                  </div>
                </div>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton02">
                  <ul class="list-unstyled">
                    <li *ngFor="let item of hygieneList">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" [value]="item" id="{{ item }}"
                          (click)="$event.stopPropagation()" (change)="addOrRemoveHygiene(item, $event)"
                          [checked]="isHygieneChecked(item)" formArrayName="hygiene" />
                        <label class="form-check-label" for="{{ item }}">
                          {{ item }}
                        </label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="form-group pb-4">
              <label class="form-label">pièces</label>
              <div class="dropdown" (click)="preventClose($event)">
                <div class="btn btn-secondary dropdown" role="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <div class="data-selected">
                    {{ updatePropertyForm.get("piece").value }}
                  </div>
                </div>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <ul class="list-unstyled">
                    <li *ngFor="let item of piecesList">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" [value]="item" id="{{ item }}"
                          (click)="$event.stopPropagation()" formControlName="piece" />
                        <label class="form-check-label" for="{{ item }}">
                          {{ item }}
                        </label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="form-group pb-4">
              <label class="form-label">service public</label>
              <div class="dropdown" (click)="preventClose($event)">
                <div class="btn btn-secondary dropdown" role="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <div class="data-selected">
                    {{ updatePropertyForm.get('servicePublic').value.length > 2
                    ? updatePropertyForm.get('servicePublic').value.length + ' elements'
                    : updatePropertyForm.get('servicePublic').value.join(', ') }}
                  </div>
                </div>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <ul class="list-unstyled">
                    <li *ngFor="let item of publicServiceList">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" [value]="item" id="{{ item }}"
                          (click)="$event.stopPropagation()" (change)="addOrRemoveService(item, $event)"
                          [checked]="isServiceChecked(item)" />
                        <label class="form-check-label" for="{{ item }}">
                          {{ item }}
                        </label>
                      </div>
                    </li>
                  </ul>
                </div>



              </div>
            </div>

            <div class="pb-4">
              <label for="disponible" class="form-label">La disponibilité</label>
              <div class="input-group">
                <input type="text" class="form-control" name="disponible" formControlName="disponible" />
              </div>
            </div>

          </div>

          <div class="col-sm-6">
            <div>
              <label for="announce" class="form-label"> Type de announce</label>
              <div class="input-group">
                <select class="form-select" formControlName="annType">
                  <option>A vendre</option>
                  <option>A louer</option>
                </select>
              </div>
            </div>

            <div>
              <label for="willaya" class="form-label">Willaya </label>
              <select class="form-select" id="willaya" formControlName="willaya">
                <option *ngFor="let element of willays" [value]="element">
                  {{ element }}
                </option>
              </select>
            </div>

            <div>
              <label for="etage" class="form-label">Etage</label>
              <div class="input-group">
                <input type="tel" class="form-control" name="etage" id="input" formControlName="etage" />
              </div>
            </div>

            <div>
              <label for="prix" class="form-label">Prix</label>
              <div class="input-group">
                <input type="tel" id="price" name="price" formControlName="price" style="
                    width: 89%;
                    border-top-left-radius: 6px;
                    border-bottom-left-radius: 6px;
                  " />
                <span class="input-group-text" id="price">DZD</span>
              </div>
            </div>
            <div>
              <label for="etatType" class="form-label">
                État de propriété</label>
              <div class="input-group">
                <select class="form-select" formControlName="etatType">
                  <option>Finie lux</option>
                  <option>Simple</option>
                  <option>Carcasse</option>
                </select>
              </div>
            </div>
            <div>
              <label for="negociable" class="form-label"> Négociable</label>
              <div class="input-group">
                <select class="form-select" formControlName="negociable">
                  <option>Oui</option>
                  <option>Non</option>
                </select>
              </div>
            </div>

            <div class="pb-4">
              <label for="climatisation" class="form-label">
                Climatisation</label>
              <div class="input-group">
                <select class="form-select" formControlName="climatisation">
                  <option value="false">N'est exist pas</option>
                  <option value="true">Exist</option>
                </select>
              </div>
            </div>

            <div class="pb-4">
              <label for="chauffage" class="form-label"> Chauffage</label>
              <div class="input-group">
                <select class="form-select" formControlName="chauffage">
                  <option value="Central">Central</option>
                  <option value="Chemini">Chemini</option>
                </select>
              </div>
            </div>

            <div class="pb-4">
              <label for="city" class="form-label">City</label>
              <div class="input-group">
                <select class="form-select" formControlName="etatCity">
                  <option value="Clôturer">Clôturer</option>
                  <option value="Ouverte">Ouverte</option>
                </select>
              </div>
            </div>
            <div class="pb-4">
              <label for="cuisin" class="form-label"> Cuisin</label>
              <div class="input-group">
                <select class="form-select" formControlName="cuisin">
                  <option>Séparer</option>
                  <option>Ouverte</option>
                </select>
              </div>
            </div>
            <div class="pb-4">
              <label for="avances" class="form-label">Les Avances</label>
              <div class="input-group">
                <select class="form-select" formControlName="avances">
                  <option *ngFor="let element of avances" [value]="element">
                    {{ element }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div>
              <div class="edit">
                <quill-editor class="content-editor" [modules]="quillConfig" [placeholder]="'description'"
                  formControlName="description">
                </quill-editor>
              </div>
            </div>
          </div>

          <div class="col-sm-12">

            <div class="row">
              <div class="col-sm-8">
                <div [formGroup]="uploadFilesFormControl">
                  <label for="images" class="form-label">Images</label>
                  <div class="input-group">
                    <ngx-dropzone (change)="onSelect($event)">
                      <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemoveFile(f)">
                        <ngx-dropzone-label>{{ f.name }} </ngx-dropzone-label>
                      </ngx-dropzone-preview>
                    </ngx-dropzone>
                  </div>
                  <!-- <span class="space-error-msg">
                              <span *ngIf="checkProprieteFormValidation && images.length <= 0">
                                <span class="error-message">
                                  Veuillez selectionner une ou plusieurs images
                                </span>
                              </span>
                            </span> -->
                </div>
              </div>
              <div class="col-sm-4">
                <label for="images anciennes" class="form-label">images anciennes</label>
                <ul class="list-group" style="overflow:auto;height: 9rem;border: 1px solid whitesmoke;">
                  <li *ngFor="let item of imagesListLink; let i = index" class="list-group-item">
                    {{ item.substring(82) }}
                    <span class="float-right icon-delete" (click)="removeItem(i)">
                      <i class="bi bi-trash3"></i> <!-- Font Awesome icon, you can use any other icon library -->
                    </span>
                  </li>
                </ul>

              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" (click)="submitData(modal)">
        Update
      </button>
    </div>
  </ng-template>
</div>