<footer class="container-fluid">
  <div class="row pt-2">
    <div class="col-sm-8">
      <h5 class="h6">Notre service aussi</h5>
      <div class="container-fluid">
        <div class="row py-2 px-5 align-items-center">
          <div class="col">
            <img
              src="../../../../assets/beeca-removebg-preview.png"
              style="width: 60%"
              id="img-icon"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="col">
            <img
              src="../../../../assets/MedSign_colored.png"
              style="width: 50%; background-color: aliceblue"
              class="img-fluid"
              alt=""
              id="img-icon"
            />
          </div>
          <div class="col">
            <img
              src="../../../../assets/CSLogo_hr_white.png"
              style="width: 50%"
              class="img-fluid"
              id="img-icon"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <h5 class="h6">Retrouvez-nous sur</h5>

      <div class="container-fluid">
        <div class="row py-2 text-center px-5">
          <div class="col"><i class="bi bi-facebook"></i></div>
          <div class="col"><i class="bi bi-instagram"></i></div>
          <div class="col"><i class="bi bi-google"></i></div>
          <div class="col"><i class="bi bi-linkedin"></i></div>
        </div>
      </div>
    </div>
    <hr class="hr-footer m-auto" />
  </div>
  <div class="container-fluid m-auto">
    <div class="row pt-3">
      <div class="col-sm-3 pb-3">
        <h5 class="h5-title">L'ENTREPRISE</h5>
        <P>Qui sommes-nous?</P>
        <p>Nous contacter</p>
      </div>
      <div class="col-sm-3 pb-3">
        <h5 class="h5-title">NOS APPLICATIONS</h5>
        <P><i class="bi bi-apple pe-1"></i> <i class="bi bi-android2"></i></P>
      </div>
      <div class="col-sm-3 pb-3">
        <h5 class="h5-title">SERVICES PRO</h5>
        <P>Tous nos service pro</P>
        <p>Accés client</p>
        <p>Notre Annonces</p>
      </div>
      <div class="col-sm-3 pb-3">
        <h5 class="h5-title">À DÉCOUVRIR</h5>
        <P>Tout l'immobilier</P>
        <p>Toutes les villes</p>
        <p>Toutes les régions</p>
      </div>
      <hr class="hr-footer m-auto" />
    </div>
  </div>
</footer>
