<div class="section-three">
    <div class="container">
        <div>
            <p class="h5 mb-5">Votre projet <strong> immobilier</strong></p>
        </div>
        <div class="cards">
            <div class="row text-center">

                <div class="col-md">


                    <div class="card text-center" style=" width: 19rem;" id="card-card">
                        <div class="card-body">
                            <h5 class="card-title" style=" color: rgb(252, 95, 115);font-size: 19px;">Je me prépare</h5>
                            <hr>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item list-group-item-action">
                                    <span><i class="bi bi-book me-4"></i></span>
                                    <strong>Mon Guide</strong>
                                </li>


                                <li class="list-group-item list-group-item-action">
                                    <span> <i class="bi bi-palette2 me-4"></i></span>
                                    <strong>Mesures fiscales</strong>
                                </li>
                                <li class="list-group-item list-group-item-action">

                                    <span><i class="bi bi-cash-coin me-4"></i></span>
                                    <strong>Mon budget</strong>
                                </li>

                                <li class="list-group-item list-group-item-action">

                                    <span><i class="bi bi-bar-chart-line me-4"></i></span>
                                    <strong>Prix du métre carré</strong>
                                </li>
                            </ul>
                        </div>
                    </div>




                </div>
                <div class="col-md">
                    <div class="card text-center" style=" width: 19rem;" id="card-card">
                        <div class="card-body">
                            <h5 class="card-title" style=" color: rgb(252, 95, 115);font-size: 19px;">Je boucle mon
                                financement</h5>
                            <hr>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item list-group-item-action">
                                    <span><i class="bi bi-coin me-4"></i></span>
                                    <strong>Prêt</strong>
                                </li>


                                <li class="list-group-item list-group-item-action">
                                    <span> <i class="bi bi-hand-thumbs-up me-4"></i></span>
                                    <strong>Assurance Emprunteur</strong>
                                </li>
                                <li class="list-group-item list-group-item-action">

                                    <span><i class="bi bi-coin me-4"></i></span>
                                    <strong>Investissement</strong>
                                </li>

                                <li class="list-group-item list-group-item-action">

                                    <span><i class="bi bi-house-gear me-4"></i></span>
                                    <strong>Rénovation énergétique</strong>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-md">
                    <div class="card text-center" style=" width: 19rem;" id="card-card">
                        <div class="card-body">
                            <h5 class="card-title" style=" color: rgb(252, 95, 115);font-size: 19px;">C'est parti, je
                                déménage !</h5>
                            <hr>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item list-group-item-action">
                                    <span><i class="bi bi-card-checklist me-4"></i></span>
                                    <strong>Ma checklist</strong>
                                </li>


                                <li class="list-group-item list-group-item-action">
                                    <span><i class="bi bi-truck me-4"></i></span>
                                    <strong>Planifier</strong>
                                </li>
                                <li class="list-group-item list-group-item-action">

                                    <span><i class="bi bi-fire me-4"></i></span>
                                    <strong>Énergie</strong>
                                </li>

                                <li class="list-group-item list-group-item-action">

                                    <span><i class="bi bi-paint-bucket me-4"></i></span>
                                    <strong>Prêt travaux</strong>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>