<body>
  <div
    id="carouselExampleFade"
    class="carousel slide carousel-fade"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://yarlrybrsqapllwioing.supabase.co/storage/v1/object/public/PROPERTY_IMAGES/img_sliders_pub_12_templatev3.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://yarlrybrsqapllwioing.supabase.co/storage/v1/object/public/PROPERTY_IMAGES/img_sliders_pub_12_templatev4.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://yarlrybrsqapllwioing.supabase.co/storage/v1/object/public/PROPERTY_IMAGES/img_sliders_pub_12_templatev5.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleFade"
      data-bs-slide="prev"
    >
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleFade"
      data-bs-slide="next"
    >
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- filter card  -->

  <div style="background-color: beige" class="mt-4">
    <div class="row">
      <div class="col-2">
        <select
          class="form-select form-select-lg mb-3"
          aria-label=".form-select-lg example"
        >
          <option selected value="louer">Louer</option>

          <option value="acheter">Acheter</option>
        </select>
      </div>
      <div class="col-2">
        <select
          class="form-select form-select-lg mb-3"
          aria-label=".form-select-lg example"
        >
          <option *ngFor="let element of willays" [ngValue]="element">
            {{ element }}
          </option>
        </select>
      </div>
      <div class="col-2"></div>
      <div class="col-2">hello</div>
      <div class="col-2">hello</div>
      <div class="col-2">hello</div>
    </div>
  </div>
</body>
