<div class="second-section">
    <div class="card-section">
        <div class="container">
            <div>
                <p class="h5 mb-5">Les actualités <strong>de l'immobilier</strong></p>
            </div>
            <div class="row mt-5 text-center">
                <div class="col-md">

                    <div class="card" style="width: 16rem;height: 16rem;">
                        <img src="../../../assets/Promoteur-immobilier-seloger.jpeg" class="card-img-top" alt="...">
                        <div class="top-left">Acheter</div>
                        <div class="card-body">
                            <p class="card-text">Comment choisir un promoteur immobilier? Découvrez nos conseils!</p>

                        </div>
                    </div>
                </div>

                <div class="col-md">
                    <div class="card" style="width: 16rem;height: 16rem;">
                        <img src="../../../assets/calcul-nombre-pieces-seloger.jpeg" class="card-img-top" alt="...">
                        <div class="top-left">Vendre</div>
                        <div class="card-body">
                            <p class="card-text">Comment compter (sans vous tromper) le nomber der piéces de votre
                                maison?
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card" style="width: 16rem;height: 16rem;">
                        <img src="../../../assets/calculer-loye-seloger.jpeg" class="card-img-top" alt="...">
                        <div class="top-left">Louer</div>
                        <div class="card-body">
                            <p class="card-text">Comment calculer le loyer mensuel d'un bien immobilier en 2023?</p>

                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card" style="width: 16rem;height: 16rem;">
                        <img src="../../../assets/editorial-news.webp" class="card-img-top mt-3" alt="..." id="image">
                        <div class="card-body mt-4">
                            <p class="card-text"><strong>Retrouvez l'ensemble de nos articles sur l'actualité immobilier
                                    ></strong></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>