.card-text {
  color: rgb(18, 17, 17);
  font-size: 14px;
}
.card {
  cursor: pointer;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 8px 0px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px 0px, rgba(0, 0, 0, 0.04) 0px 1px 2px 0px;
  border-radius: 4px;
  text-align: left;
  width: auto;
}
.top-left {
  position: absolute;
  top: 8px;
  left: 13px;
  font-size: 11px;
  background-color: #ffffff;
  box-sizing: content-box;
  border: 1px solid transparent;
  border-radius: 3px;
  color: rgb(243, 60, 60);
  padding: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

#image {
  background-color: rgb(255, 255, 255);
  width: 120px;
  height: auto;
  object-fit: cover;
  margin-left: 1em;
  margin-top: 4px;
}
.card-section {
  height: 100%;
  padding-top: 60px;
  padding-bottom: 70px;
  background-color: rgb(244, 244, 255);
}
