<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 px-4app-header">
      <img
        src="../../../assets/connect-img.webp"
        style="height: 100%"
        class="img-fluid"
        alt=""
      />
    </div>
    <div class="col-sm-8 pt-5 px-4">
      <p class="title pb-1">Se connecter</p>
      <p class="question pb-3">
        Vous n'avez pas de compte ? <a> Demander un compte</a>
      </p>
      <form [formGroup]="connecter">
        <div class="pb-3">
          <label for="email" class="form-label">Votre e-mail</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="email"
              name="email"
              formControlName="email"
            />
          </div>

          <span *ngIf="!connecter.get('email').valid">
            <span
              *ngIf="connecter.get('email').errors['email']"
              class="error-message"
            >
              Veuillez renseigner une address mail valide
            </span>
          </span>
        </div>
        <div class="pb-3">
          <label for="password" class="form-label">Votre mot de passe</label>
          <div class="input-group">
            <input
              type="{{ visible ? 'text' : 'password' }}"
              class="form-control"
              aria-describedby="password"
              formControlName="password"
            />
            <span
              class="input-group-text"
              id="basic-addon2"
              style="cursor: pointer"
              (click)="changeVisibility()"
              ><i class="{{ visible ? 'bi bi-eye-slash' : 'bi bi-eye' }}"></i
            ></span>
          </div>
          <span *ngIf="!connecter.get('password').valid">
            <span
              *ngIf="!connecter.get('password').pristine"
              class="error-message"
            >
              Vous devez renseigner le mot de passe.
            </span>
          </span>
        </div>
        <div class="pt-4 mb-5">
          <button
            class="btn btn-outline-secondary"
            id="connect-btn"
            [disabled]="connecter.valid"
          >
            Se connecter
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
