<div class="contianer">
  <div class="card mt-2">
    <div class="card-header mb-2">
      <div class="d-flex justify-content-between">
        <h5>Required Information</h5>

        <div class="form-group">
          <button
            data-bs-toggle="collapse"
            href="#collapseExample"
            role="button"
            aria-expanded="false"
            aria-controls="collapseExample"
            type="button"
            class="btn btn-success"
          >
            Valid
          </button>
        </div>
      </div>
    </div>

    <div class="collapse" id="collapseExample">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <div>
              <div class="form-group mt-2">
                <label class="mb-1"> Property Type </label>
                <select class="form-select" id="prpType">
                  <option ngValue="HOUSE">HOUSE</option>
                  <option ngValue="APARTMENT">APARTMENT</option>
                </select>
              </div>

              <div class="form-group mt-2">
                <label class="mb-1">Address </label>
                <input type="text" class="form-control" id="address" />
              </div>

              <div class="form-group mt-2">
                <label class="mb-1">Price DZ </label>
                <input type="number" class="form-control" />
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div>
              <div class="form-group mt-2">
                <label class="mb-1"> Annonce Type </label>
                <select class="form-select">
                  <option selected ngValue="SALE">SALE</option>
                  <option ngValue="RENT">RENT</option>
                </select>
              </div>

              <div class="form-group mt-2">
                <label class="mb-1">Etage </label>
                <input type="number" class="form-control" id="etage" />
              </div>
              <div class="form-group mt-2">
                <label class="mb-1">Surface m² </label>
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div>
              <div class="form-group mt-2">
                <label class="mb-1"> willaya </label>
                <select class="form-select">
                  <option *ngFor="let element of willays" [ngValue]="element">
                    {{ element }}
                  </option>
                </select>
              </div>

              <div class="form-group mt-2">
                <label class="mb-1">Facade </label>
                <input type="number" class="form-control" />
              </div>

              <div class="form-group mt-2">
                <label class="mb-1"> Juridic Type *</label>
                <select class="form-select" id="prpType">
                  <option ngValue="XXX">XXX</option>
                  <option ngValue="YYY">YYY</option>
                  <option ngValue="ZZZ">ZZZ</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-header mb-2">
      <div class="d-flex justify-content-between">
        <h5>Optional Information</h5>

        <div class="form-group">
          <button
            data-bs-toggle="collapse"
            href="#optioanlCollapse"
            role="button"
            aria-expanded="false"
            aria-controls="optioanlCollapse"
            type="button"
            class="btn btn-warning"
          >
            Valid
          </button>
        </div>
      </div>
    </div>

    <div class="collapse" id="optioanlCollapse">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group mt-2">
              <label class="mb-1">Title </label>
              <input type="text" class="form-control" id="title" />
            </div>

            <div class="form-group mt-2">
              <label class="mb-1">Availabilty </label>
              <input
                type="text"
                class="form-control"
                formControlName="availability"
              />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group mt-2">
              <label class="mb-1"> Cuisin</label>
              <select class="form-select" formControlName="cuisin">
                <option ngValue="CORNER">CORNER</option>
                <option ngValue="SEPERATE">SEPERATE</option>
              </select>
            </div>

            <div class="form-group mt-2">
              <label class="mb-1">Air conditioning</label>
              <select class="form-select" formControlName="airCondition">
                <option ngValue="YES">YES</option>
                <option ngValue="NO">NO</option>
              </select>
            </div>

            <div class="form-group mt-2">
              <label class="mb-1"> Lime</label>
              <select class="form-select" formControlName="lime">
                <option value="CENTRAL">CENTRAL</option>
                <option value="CHIMNEY">CHIMNEY</option>
              </select>
            </div>
          </div>

          <div class="col-sm-4">
            <div>
              <div class="form-group mt-4">
                <div class="dropdown">
                  <button
                    class="btn btn-primary dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Pieces
                  </button>
                  <div class="dropdown-menu">
                    <a
                      *ngFor="let item of piecesList; let i = index"
                      class="dropdown-item"
                    >
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          [value]="item"
                          (change)="addOrRemoveFormControl($event, 'pieces')"
                        />
                        <label class="form-check-label">
                          {{ item }}
                        </label>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="form-group mt-4">
                <div class="dropdown mt-1">
                  <button
                    class="btn btn-primary dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Services
                  </button>
                  <div class="dropdown-menu">
                    <a
                      *ngFor="
                        let item of serviceAccessibilityList;
                        let i = index
                      "
                      class="dropdown-item"
                    >
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          [value]="item"
                          (change)="
                            addOrRemoveFormControl(
                              $event,
                              'serviceAccessibility'
                            )
                          "
                        />
                        <label class="form-check-label">
                          {{ item }}
                        </label>
                      </div>
                    </a>
                  </div>
                </div>
              </div>

              <div class="form-group mt-4">
                <div class="dropdown">
                  <button
                    class="btn btn-primary dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Hygiene
                  </button>
                  <div class="dropdown-menu">
                    <a
                      *ngFor="let item of hygieneList; let i = index"
                      class="dropdown-item"
                    >
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          [value]="item"
                          (change)="addOrRemoveFormControl($event, 'hygiene')"
                        />
                        <label class="form-check-label">
                          {{ item }}
                        </label>
                      </div>
                    </a>
                  </div>
                </div>
              </div>

              <div class="form-group mt-4">
                <div class="dropdown">
                  <button
                    class="btn btn-primary dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Service Public
                  </button>
                  <div class="dropdown-menu">
                    <a
                      *ngFor="let item of publicServcieList; let i = index"
                      class="dropdown-item"
                    >
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          [value]="item"
                          (change)="
                            addOrRemoveFormControl($event, 'publicService')
                          "
                        />
                        <label class="form-check-label">
                          {{ item }}
                        </label>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-text-edit></app-text-edit> -->
</div>
