<div style="cursor: pointer">
  <div class="div-container-img-anc" [style.background-image]="'url(' + annonces.imgPaths[currentIndex] + ')'"
    [style.box-shadow]="'0 .3125rem .625rem 0 rgba(0,0,0,.16)!important'" [ngStyle]="{
      'background-size': 'cover',
      'background-repeat': 'no-repeat',
      
    }">
    <span class="heart-like"><i class="bi bi-heart"></i></span>
    <span class="left-icon" (click)="previousImg()"><i class="bi bi-arrow-left-circle-fill"></i></span>
    <span class="right-icon" (click)="nextImg()"><i class="bi bi-arrow-right-circle-fill"></i></span>
  </div>
  <div>
    <p class="mt-2">
      <span class="type">{{ annonces.propType }}</span>
      <span class="willaya">, {{ annonces.willaya }}</span>
    </p>
    <p>
      <span class="p-surface">{{ annonces.anncType }}</span>
    </p>
    <p class="p-surface">
      Surface <span class="surface">{{ annonces.surface }} m²</span>
    </p>
    <p class="prix">
      {{ annonces.price }} DA<span class="temps" *ngIf="annonces.anncType == 'RENT'">par mois</span>
    </p>
    <button type="button" class="btn btn-outline-primary btn-sm mb-0 mt-1 mbtn">View Details</button>
  </div>
</div>