<body>
  <div class="container-fluid">
    <div class="row" style="height: 700px">
      <div class="col-sm-9 pb-4">
        <ag-grid-angular class="ag-theme-alpine" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
          [rowData]="propertiesData$ | async" [rowSelection]="'multiple'" [animateRows]="true"
          (gridReady)="onGridReady($event)" (cellClicked)="onCellClicked($event)" [pagination]="true"></ag-grid-angular>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
</body>