<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 mb-2" style="height: 700px">
        <ag-grid-angular class="ag-theme-alpine shadow-sm" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
          [rowData]="propertiesData$ | async" [rowSelection]="'multiple'" [animateRows]="true"
          (rowClicked)="onRowClicked($event)" (gridReady)="onGridReady($event)" (cellClicked)="onCellClicked($event)"
          [pagination]="true"></ag-grid-angular>
      </div>


    </div>
  </div>
</body>