<!-- <nav class="navbar navbar-expand-lg bg-white navbar-white" id="nav-bar">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img
        src="../../../assets/logo.png"
        class="img-fluid"
        [ngStyle]="{ width: '120px' }"
      />
      <label class="h5 mt-2" id="logo-name">Darkoum</label>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto" id="navsection">
        <li class="nav-item">
          <a
            class="nav-link"
            href=""
            id="nav-element"
            [routerLink]="['/mon-compte/creation']"
            >Créer un compte</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href=""
            id="nav-element"
            [routerLink]="['/mon-compte/connexion']"
            >Se connecter</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href=""
            id="nav-element"
            [routerLink]="['/mon-compte/connexion']"
            >Se deconnecter</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
 -->

<div class="container-fluid">
  <nav class="navbar">
    <div class="container-fluid" id="custom-nav">
      <a class="navbar-brand pb-1" style="padding: 0px" href="#"><img src="../../../../assets/logo.png"
          style="max-height: 45px" alt="" /></a>
      <div class="d-flex align-items-center" role="search">
        <div style="cursor: pointer; font-size: 20px; color: #222831" title="Log In"
          [routerLink]="['/mon-compte/connexion']">
          <i class="bi bi-box-arrow-in-right"></i>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;

        <div class="btn-group">
          <div class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
            style="cursor: pointer; font-size: 20px; color: #ff385c" title="services">
            <i class="bi bi-globe"></i>
          </div>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="#">creation une announce</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['demand-compte']">creation de compte
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>