@import url("https://fonts.googleapis.com/css?family=Nunito");

.conbrd {
  background-color: rgb(241, 8, 8);
  border-radius: 8px 8px 0px 0px;
  /*box-shadow: 0px 0px 9px #31383b0d;*/
  height: 36px;
  width: 100%;
  padding: 9px 0px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
.table_content {
  background-color: rgb(197, 213, 221);
  width: 100%;
  border-radius: 0px 10px 10px 10px;
  /*   padding: 20px 40px 40px 40px; */
}
h5 {
  font-size: 0.9rem;
}

.form-select,
.form-control {
  width: 100%;
  /*  padding: 0.4rem 2.25rem 0.375rem 0.75rem; */
}

.table_content .col-6 {
  padding: 0px;
}

.nav-pills li.nav-item {
  width: 33.33%;
}
.nav-pills li.nav-item button {
  width: 100%;
  border-radius: 30px;
}
ul#pills-tab {
  background: #eff6ff;
  border-radius: 30px;
}
.input-group {
  position: relative;
  display: flex;

  align-items: stretch;
  width: 100%;
  flex-wrap: unset;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: #ff385c;
}

.nav-link {
  color: #222831;
}
#search-btn {
  background: #ff385c;
  color: rgb(255, 255, 255);
  transition-duration: 0.2s;
  border: none transparent;
  height: 40px;
  border-radius: 32px;
  font-size: 16px;
  min-width: 125px;
  width: 50%;
}

#main-section {
  background-image: url(../../../../assets/background.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.h2 {
  font-family: "Nunito", serif;
  font-weight: 800;
}
button {
  font-family: "Nunito", serif;
  font-weight: 700;
}
hr {
  width: 4%;
  color: #ff385c;
  border-top: 4px solid #ff385c;
  opacity: unset;
  border-radius: 5px;
}
.h5 {
  font-family: "Nunito", serif;
  font-weight: 700;
  margin-bottom: -0.5rem;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

.card {
  border-radius: 8px;
  overflow: hidden;
  border: 0;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.06), 0 2px 4px rgba(0, 0, 0, 0.07);
  transition: all 0.15s ease;
}

.card:hover {
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1), 0 10px 8px rgba(0, 0, 0, 0.015);
}

.card-body .card-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 0.3px;
  font-size: 24px;
  color: #222831;
}

.card-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.3px;
  color: #222831;
}

.card .container {
  width: 90%;

  background: #f0eef8;
  border-radius: 30px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .container:hover > img {
  transform: scale(1.2);
}
 */
/* .container img {
  padding: 75px;
  margin-top: -40px;
  margin-bottom: -40px;
  transition: 0.4s ease;
 
} */
