.conbrd {
  background-color: rgb(241, 8, 8);
  border-radius: 8px 8px 0px 0px;
  /*box-shadow: 0px 0px 9px #31383b0d;*/
  height: 36px;
  width: 100%;
  padding: 9px 0px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
.table_content {
  background-color: rgb(197, 213, 221);
  width: 100%;
  border-radius: 0px 10px 10px 10px;
  /*   padding: 20px 40px 40px 40px; */
}
h5 {
  font-size: 0.9rem;
}

.form-select,
.form-control {
  width: 100%;
  /*  padding: 0.4rem 2.25rem 0.375rem 0.75rem; */
}

.table_content .col-6 {
  padding: 0px;
}

.nav-pills li.nav-item {
  width: 33.33%;
}
.nav-pills li.nav-item button {
  width: 100%;
  border-radius: 30px;
}
ul#pills-tab {
  background: #eff6ff;
  border-radius: 30px;
}
.input-group {
  position: relative;
  display: flex;

  align-items: stretch;
  width: 100%;
  flex-wrap: unset;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: #ff385c;
}

.nav-link {
  color: #222831;
}
#search-btn {
  background: #ff385c;
  color: rgb(255, 255, 255);
  transition-duration: 0.2s;
  border: none transparent;
  height: 40px;
  border-radius: 32px;
  font-size: 16px;
  min-width: 125px;
  width: 50%;
}

#main-section {
  background-image: url(../../../../assets/background.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
