input {
  width: 26em;
  font-size: 16px;
  border: solid 1px #929292;
  height: 42px;
  color: #2b2b2b;
  background-color: white;
  transition-duration: 0.2s;
}

@media screen and (max-width: 480px) {
  .input-group {
    width: 100%;
  }
}

.form-label {
  font-family: "Nunito", serif;
  font-weight: 600;
  font-size: 16px;
}

.input-group {
  width: 90%;
}
.form-select {
  width: 26em;
  font-size: 16px;
  border: solid 1px #929292;
  height: 42px;
  color: #2b2b2b;
  background-color: white;
  transition-duration: 0.2s;
}

#search-btn {
  background: #ff385c;
  color: rgb(255, 255, 255);
  transition-duration: 0.2s;
  border: none transparent;
  height: 40px;
  border-radius: 8px;
  font-size: 16px;
  min-width: 125px;
  width: 90%;
}
.nouveau {
  color: #ff385c;
}

h5 {
  font-family: "Nunito", serif;
  color: #2b2b2b;
  font-weight: 800;
  font-size: 22px;
}
p {
  font-family: "Nunito", serif;
  color: #2b2b2b;
}
#main {
  background-image: url(../../../assets/alger_01.avif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem 1rem;
}
