<div class="container-fluid" id="main">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-6 m-auto">
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
          <div class="row">
            <div class="col-sm-4 px-3 pt-1">
              <img src="../../../assets/6170343_3054191.jpg" class="img-fluid" style="width: 100%;" alt="" />
            </div>
            <div class="col-sm-7 px-4 pt-2">
              <h5 class="h5">
                <span class="nouveau"> NOUVEAU : </span>Captez les projets de
                vente de votre secteur !
              </h5>
              <p class="h6">
                Nos équipes pré-qualifient pour vous les projets de vente
                proches de chez vous. Que diriez-vous d'être mis en relation
                avec ces vendeurs ?
              </p>
            </div>
            <hr class="hr-line">

          </div>

          <div class="row px-1" [formGroup]="demandForm">

            <div class="col-sm-6">
              <div>
                <label for="agence_nom" class="form-label">Nom de votre agence</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="agence_nom" name="agence_nom"
                    formControlName="nom_agence" />
                </div>


                <!--  validation d'agence nom   -->
                <span class="space-error-msg">
                  <span *ngIf="submitted && !demandForm.get('nom_agence').valid">
                    <span *ngIf="demandForm.get('nom_agence').errors['required']" class="error-message">
                      Veuillez renseigner le nom d'agence
                    </span>
                  </span>
                </span>
              </div>

              <div>
                <label for="Nom" class="form-label">Nom</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="Nom" name="Nom" formControlName="nom" />
                </div>
                <span class="space-error-msg">
                  <span *ngIf="submitted && !demandForm.get('nom').valid">
                    <span *ngIf="demandForm.get('nom').errors['required']" class="error-message">
                      Veuillez renseigner votre nom
                    </span>
                  </span>
                </span>
              </div>
              <div>
                <label for="Prenom" class="form-label">Prenom</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="Prenom" name="Prenom" formControlName="prenom" />
                </div>

                <!--  validation de prenom   -->
                <span class="space-error-msg">
                  <span *ngIf="submitted && !demandForm.get('prenom').valid">
                    <span *ngIf="demandForm.get('prenom').errors['required']" class="error-message">
                      Veuillez renseigner votre prenom
                    </span>
                  </span>
                </span>
              </div>

            </div>
            <div class="col-sm-6">
              <div>
                <label for="adress-email" class="form-label">Adress email</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="adress-email" name="adress-email"
                    formControlName="email" />
                </div>
                <span class="space-error-msg">
                  <span *ngIf="submitted && !demandForm.get('email').valid">
                    <span *ngIf="demandForm.get('email').errors['required'] || demandForm.get('email').errors['email']"
                      class="error-message">
                      Veuillez renseigner votre email
                    </span>
                  </span>
                </span>
              </div>
              <div>
                <label for="telephone" class="form-label">Telephone</label>
                <div class="input-group">
                  <span class="input-group-text" id="telephone">+213</span>
                  <input type="tel" class="form-control" aria-describedby="telephone" formControlName="telephone" />
                </div>
                <span class="space-error-msg">
                  <span *ngIf="submitted && !demandForm.get('telephone').valid">
                    <span *ngIf="demandForm.get('telephone').errors['required']" class="error-message">
                      Veuillez renseigner le telephon d'agence
                    </span>
                  </span>
                </span>
              </div>

              <div class="pb-4">
                <label for="willaya" class="form-label">Willaya</label>
                <div class="input-group">
                  <select class="form-select" formControlName="willaya">
                    <option *ngFor="let element of willaya" [value]="element">
                      {{ element }}
                    </option>
                  </select>
                </div>

              </div>


            </div>
            <div class="col-sm-12">
              <div>
                <label for="adress_agence" class="form-label">Adress d'agence</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="adress_agence" name="adress_agence"
                    formControlName="adress_agence" style="width: 28rem;" />
                </div>
                <span class="space-error-msg">
                  <span *ngIf="submitted && !demandForm.get('adress_agence').valid">
                    <span *ngIf="demandForm.get('adress_agence').errors['required']" class="error-message">
                      Veuillez renseigner l'adress d'agence
                    </span>
                  </span>
                </span>
              </div>
              <div class=" d-flex justify-content-center" style="padding-top: 1rem !important">
                <button class="btn" id="search-btn" (click)="onSubmit()">Demander</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>