<div class="section-four">
    <div class="container">
        <div>
            <p class="h5" style="margin-bottom: 30px;">Annonces immobilières <strong>en Algerie</strong></p>
        </div>
        <div class="cards">
            <div class="row">
                <div class="col-md">
                    <p><b> Ventes de maisons</b></p>
                    <small><a href="#" class="my-1">Vente maison Oran</a></small>
                    <small><a href="#" class="my-1">Vente maison Béjaïa</a></small>
                    <small><a href="#" class="my-1">Vente maison Blida</a></small>
                    <small><a href="#" class="my-1">Vente maison Tlemcen</a></small>
                    <small><a href="#" class="my-1">Vente maison Setif</a></small>
                    <small><a href="#" class="my-1">Vente maison Skikda</a></small>

                </div>
                <div class="col-md">

                    <p><b> Ventes d'appartements</b></p>
                    <small><a href="#" class="my-1">Vente maison Medea</a></small>
                    <small><a href="#" class="my-1">Vente maison Bordj</a></small>
                    <small><a href="#" class="my-1">Vente maison Boumerdes</a></small>
                    <small><a href="#" class="my-1">Vente maison El Tarf</a></small>
                    <small><a href="#" class="my-1">Vente maison Setif</a></small>
                    <small><a href="#" class="my-1">Vente maison Tipaza</a></small>

                </div>
                <div class="col-md" id="ventes-card">

                    <p style=" font-size: 14px; color: rgb(252, 95, 115);"><span><i class="bi bi-lightbulb"
                                style=" font-size: 15px;"></i></span>
                        BON À SAVOIR</p>
                    <small style="font-size: 12px;">Vous cherchez à acheter le bien immobilier de vos
                        rêves?</small>
                    <b>Retrouvez nos outils dédiés</b>
                    <a href="#" style="font-size: 12px;">Estimez la valeur d'un bien </a>
                    <a href="#" style="font-size: 12px;">La carte des prix de l'immobilier</a>
                    <a style="font-size: 12px;" href="#">Calculez votre capacité d'emprunt</a>
                    <a href="#" style="font-size: 12px;">Calculez vos mensualités</a>
                    <a href="#" style="font-size: 12px;">Estimez vos frais de notaire</a>

                </div>
                <div class="col-md">

                    <p><b>Locations d'appartements </b></p>
                    <small><a href="#" class="my-1">Location appartement Oran</a></small>
                    <small><a href="#" class="my-1">Location appartement Béjaïa</a></small>
                    <small><a href="#" class="my-1">Location appartement Blida</a></small>
                    <small><a href="#" class="my-1">Location appartement Tlemcen</a></small>
                    <small><a href="#" class="my-1">Location appartement Setif</a></small>
                    <small><a href="#" class="my-1">Location appartement Skikda</a></small>


                </div>
                <div class="col-md">

                    <p><b>Prix de vente au m2 </b></p>
                    <small><a href="#" class="my-1">Prix moyen Oran</a></small>
                    <small><a href="#" class="my-1">Prix moyen Béjaïa</a></small>
                    <small><a href="#" class="my-1">Prix moyen Blida</a></small>
                    <small><a href="#" class="my-1">Prix moyen Tlemcen</a></small>
                    <small><a href="#" class="my-1">Prix moyen Setif</a></small>
                    <small><a href="#" class="my-1">Prix moyen Skikda</a></small>


                </div>
            </div>
        </div>
    </div>
</div>