<div class="continer-fluid">
    <div class="card" style="background-color: aquamarine;">
        <div class="card-body">
            <h5 class="card-title">Required Information</h5>
            <form>

                <div class="form-group mt-5">
                    <label class="mb-2"> Property Type </label>
                    <select class="form-select" id="prpType">
                        <option ngValue="HOUSE">HOUSE</option>
                        <option ngValue="APARTMENT">APARTMENT</option>
                    </select>
                </div>
                <div class="form-group mt-5">
                    <label class="mb-2"> Annonce Type *</label>
                    <select class="form-select">
                        <option ngValue="SALE">SALE</option>
                        <option ngValue="RENT">RENT</option>
                    </select>
                </div>

                <div class="form-group mt-5">
                    <label class="mb-2"> Juridic Type *</label>
                    <select class="form-select" id="prpType">
                        <option ngValue="XXX">XXX</option>
                        <option ngValue="YYY">YYY</option>
                        <option ngValue="ZZZ">ZZZ</option>
                    </select>
                </div>

                <div class="form-group mt-5">
                    <label class="mb-2">Willaya *</label>
                    <ng-select [items]="willays" bindLabel="name" appearance="outline" notFoundText="n'existe pas">
                    </ng-select>
                </div>

                <div class="form-group mt-5">
                    <label class="mb-2">Address *</label>
                    <input type="text" class="form-control" id="address" />

                </div>


                <div class="form-group mt-5">
                    <label class="mb-2">Etage *</label>
                    <input type="number" class="form-control" id="etage" />
                </div>

                <div class="form-group mt-5">
                    <label class="mb-2">Facade *</label>
                    <input type="number" class="form-control" />
                </div>

                <div class="form-group mt-5">
                    <label class="mb-2">Price DZ *</label>
                    <input type="number" class="form-control" />
                </div>

                <div class="form-group mt-5">
                    <label class="mb-2">Surface m² * </label>
                    <input type="text" class="form-control" />
                </div>

                <div class="form-group mt-5">
                    <button type="button" class="btn btn-warning">Valid</button>

                </div>
            </form>
        </div>
    </div>






    <div class="card mt-3" style="background-color: rgb(232, 240, 201);">
        <div class="card-body">
            <h5 class="card-title">Optional Information</h5>

            <form [formGroup]="optionalIngo_Form">

                <div class="form-group mt-5">
                    <label class="mb-2">Title </label>
                    <input type="text" class="form-control" formControlName="title"
                        (ngModelChange)="onChangeInput($event)" />
                    <p>{{this.optionalIngo_Form.get('title').value}}</p>
                </div>

                <div class="form-group mt-5">
                    <label class="mb-2">Description </label>
                    <textarea type="text" class="form-control"></textarea>
                </div>

                <div class="form-group mt-5">
                    <label class="mb-2">Service & Accessibility</label>
                    <div class="dropdown">
                        <div class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="true">
                            <div class="data-selected">
                                {{ optionalIngo_Form.get("serviceAccessibility").value }}
                            </div>
                        </div>
                        <div class="dropdown-menu" id="dropdown" formArrayName="serviceAccessibility">
                            <li class="dropdown-item" *ngFor="let item of serviceAccessibilityList">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" [value]="item" (change)="
                        addOrRemoveFormControl($event, 'serviceAccessibility')
                      " />
                                    <label class="form-check-label">
                                        {{ item }}
                                    </label>
                                </div>
                            </li>
                        </div>
                    </div>
                </div>

                <div class="form-group mt-5">
                    <label class="mb-2"> Cuisin</label>
                    <select class="form-select">
                        <option ngValue="CORNER">CORNER</option>
                        <option ngValue="SEPERATE">SEPERATE</option>
                    </select>
                </div>

                <div class="form-group mt-5">
                    <label class="mb-2">Hygiene</label>
                    <div class="dropdown">
                        <div class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <div class="data-selected">
                                {{ optionalIngo_Form.get("hygiene").value }}
                            </div>
                        </div>
                        <div class="dropdown-menu" id="dropdown">
                            <li class="dropdown-item" *ngFor="let item of hygieneList">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" [value]="item"
                                        (change)="addOrRemoveFormControl($event, 'hygiene')" />
                                    <label class="form-check-label">
                                        {{ item }}
                                    </label>
                                </div>
                            </li>
                        </div>
                    </div>
                </div>

                <div class="form-group mt-5">
                    <label class="mb-2">Pieces</label>
                    <div class="dropdown">
                        <div class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <div class="data-selected">
                                {{ optionalIngo_Form.get("pieces").value }}
                            </div>
                        </div>
                        <div class="dropdown-menu" id="dropdown">
                            <li class="dropdown-item" *ngFor="let item of piecesList">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" [value]="item"
                                        (change)="addOrRemoveFormControl($event, 'pieces')" />
                                    <label class="form-check-label">
                                        {{ item }}
                                    </label>
                                </div>
                            </li>
                        </div>
                    </div>
                </div>


                <div class="form-group mt-5">
                    <label class="mb-2"> Lime</label>
                    <select class="form-select" formControlName="lime">
                        <option value="CENTRAL">CENTRAL</option>
                        <option value="CHIMNEY">CHIMNEY</option>
                    </select>
                </div>


                <div class="form-group mt-5">
                    <label class="mb-2">Availabilty </label>
                    <input type="text" class="form-control" />
                </div>

                <div class="form-group mt-5">
                    <label class="mb-2">Air conditioning</label>
                    <select class="form-select">
                        <option ngValue="YES">YES</option>
                        <option ngValue="NO">NO</option>
                    </select>
                </div>

                <div class="form-group mt-5">
                    <label class="mb-2">Public Service</label>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="data-selected">
                                {{ optionalIngo_Form.get("publicService").value }}
                            </div>
                        </button>
                        <div class="dropdown-menu" id="dropdown">
                            <li class="dropdown-item" *ngFor="let item of publicServcieList">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" [value]="item"
                                        (change)="addOrRemoveFormControl($event, 'publicService')" />
                                    <label class="form-check-label">
                                        {{ item }}
                                    </label>
                                </div>
                            </li>
                        </div>
                    </div>
                </div>

                <div class="form-group mt-5">
                    <button type="button" class="btn btn-warning">Valid</button>

                </div>
            </form>

        </div>





    </div>
</div>