<div class="container-fluid pt-3">
  <div class="row">
    <div class="col-sm-4">
      <div class="card shadow-sm mb-3" style="width: 100%">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <button
              [class]="profileBtn"
              id="v-pills-home-tab"
              data-bs-toggle="pill"
              data-bs-target="#v-pills-home"
              type="button"
              role="tab"
              aria-controls="v-pills-home"
              aria-selected="true"
              disabled="true"
            >
              Information de Propriétaire
            </button>
          </li>
          <li class="list-group-item">
            <button
              [class]="annonceBtn"
              id="v-pills-profile-tab"
              data-bs-toggle="pill"
              data-bs-target="#v-pills-profile"
              type="button"
              role="tab"
              aria-controls="v-pills-profile"
              aria-selected="false"
              disabled="true"
            >
              Information d'Announce
            </button>
          </li>
          <li class="list-group-item">
            <button
              [class]="optionalBtn"
              id="v-pills-optional-tab"
              data-bs-toggle="pill"
              data-bs-target="#v-pills-optional"
              type="button"
              role="tab"
              aria-controls="v-pills-optional"
              aria-selected="false"
              disabled="true"
            >
              Information Optional d'Announce
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-content" id="v-pills-tabContent">
        <div
          [class]="showProfilTab"
          id="v-pills-home"
          role="tabpanel"
          aria-labelledby="v-pills-home-tab"
          tabindex="0"
        >
          <div class="shadow-sm p-3 rounded" id="custom-card">
            <h5 class="h5 d-flex justify-content-center">
              Information de Propriétaire
            </h5>
            <!-- <hr class="hr-line"> -->
            <div class="row" [formGroup]="proprietaireFormControl">
              <div class="col-sm-6">
                <div>
                  <label for="nom" class="form-label">Nom</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      name="nom"
                      id="input"
                      formControlName="nom"
                    />
                  </div>
                  <span class="space-error-msg">
                    <span
                      *ngIf="
                        checkProprietaireFormValidation &&
                        !proprietaireFormControl.get('nom').valid
                      "
                    >
                      <span
                        *ngIf="
                          proprietaireFormControl.get('nom').errors['required']
                        "
                        class="error-message"
                      >
                        Veuillez renseigner le nom de proprietaire
                      </span>
                    </span>
                  </span>
                </div>
                <div>
                  <label for="email" class="form-label">Email</label>
                  <div class="input-group">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="input"
                      formControlName="email"
                    />
                  </div>
                  <span class="space-error-msg">
                    <span
                      *ngIf="
                        checkProprietaireFormValidation &&
                        !proprietaireFormControl.get('email').valid
                      "
                    >
                      <span
                        *ngIf="
                          proprietaireFormControl.get('email').errors[
                            'required'
                          ] ||
                          proprietaireFormControl.get('email').errors['email']
                        "
                        class="error-message"
                      >
                        Veuillez renseigner l'email de proprietaire
                      </span>
                    </span>
                  </span>
                </div>
              </div>
              <div class="col-sm-6">
                <div>
                  <label for="prenom" class="form-label">Prenom</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      name="prenom"
                      id="input"
                      formControlName="prenom"
                    />
                  </div>
                  <span class="space-error-msg">
                    <span
                      *ngIf="
                        checkProprietaireFormValidation &&
                        !proprietaireFormControl.get('prenom').valid
                      "
                    >
                      <span
                        *ngIf="
                          proprietaireFormControl.get('prenom').errors[
                            'required'
                          ]
                        "
                        class="error-message"
                      >
                        Veuillez renseigner le prenom de proprietaire
                      </span>
                    </span>
                  </span>
                </div>
                <div>
                  <label for="address" class="form-label">Address</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      name="address"
                      id="input"
                      formControlName="address"
                    />
                  </div>
                  <span class="space-error-msg">
                    <span
                      *ngIf="
                        checkProprietaireFormValidation &&
                        !proprietaireFormControl.get('address').valid
                      "
                    >
                      <span
                        *ngIf="
                          proprietaireFormControl.get('address').errors[
                            'required'
                          ]
                        "
                        class="error-message"
                      >
                        Veuillez renseigner l'address de proprietaire
                      </span>
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-end mt-4">
              <button
                type="button"
                class="btn btn-primary"
                style="background-color: #ff385c; color: white; border: unset"
                (click)="nextToAnnonce()"
              >
                Suivant
              </button>
            </div>
          </div>
        </div>
        <div
          [class]="showAnnonceTab"
          id="v-pills-profile"
          role="tabpanel"
          aria-labelledby="v-pills-profile-tab"
          tabindex="0"
        >
          <div class="shadow-sm p-3 mb-5 bg-body rounded" id="custom-card">
            <h5 class="h5 d-flex justify-content-center">
              Information d'Announce
            </h5>
            <div class="row" [formGroup]="annonceFormControl">
              <!-- <hr class="hr-line">-->
              <div class="col-sm-6">
                <div>
                  <label for="property" class="form-label">
                    Type de propriete</label
                  >
                  <div class="input-group">
                    <select class="form-select" formControlName="typeProperty">
                      <option>Maison</option>
                      <option>Appartement</option>
                    </select>
                  </div>
                  <span class="space-error-msg">
                    <span
                      *ngIf="
                        checkAnnonceFormValidation &&
                        !annonceFormControl.get('typeProperty').valid
                      "
                    >
                      <span
                        *ngIf="
                          annonceFormControl.get('typeProperty').errors[
                            'required'
                          ]
                        "
                        class="error-message"
                      >
                        Veuillez selectionner le type de proprietaire
                      </span>
                    </span>
                  </span>
                </div>
                <div>
                  <label for="juridic" class="form-label"> Type juridic</label>
                  <div class="input-group">
                    <select class="form-select" formControlName="typeJuridic">
                      <option>Maison</option>
                      <option>Appartement</option>
                    </select>
                  </div>
                  <span class="space-error-msg">
                    <span
                      *ngIf="
                        checkAnnonceFormValidation &&
                        !annonceFormControl.get('typeJuridic').valid
                      "
                    >
                      <span
                        *ngIf="
                          annonceFormControl.get('typeJuridic').errors[
                            'required'
                          ]
                        "
                        class="error-message"
                      >
                        Veuillez selectionner le type juridic de proprietaire
                      </span>
                    </span>
                  </span>
                </div>

                <div>
                  <label for="address" class="form-label">Address</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      name="address"
                      id="input"
                      formControlName="address"
                    />
                  </div>
                  <span class="space-error-msg">
                    <span
                      *ngIf="
                        checkAnnonceFormValidation &&
                        !annonceFormControl.get('address').valid
                      "
                    >
                      <span
                        *ngIf="
                          annonceFormControl.get('address').errors['required']
                        "
                        class="error-message"
                      >
                        Veuillez saisir l'address de proprietaire
                      </span>
                    </span>
                  </span>
                </div>

                <div>
                  <label for="facade" class="form-label">Facade</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      name="facade"
                      id="input"
                      formControlName="facade"
                    />
                  </div>
                  <span class="space-error-msg">
                    <span
                      *ngIf="
                        checkAnnonceFormValidation &&
                        !annonceFormControl.get('facade').valid
                      "
                    >
                      <span
                        *ngIf="
                          annonceFormControl.get('facade').errors['required'] ||
                          annonceFormControl.get('facade').errors['min']
                        "
                        class="error-message"
                      >
                        Veuillez saisir nombre de facade
                      </span>
                    </span>
                  </span>
                </div>

                <div>
                  <label for="surface" class="form-label">Suraface</label>
                  <div class="input-group">
                    <input
                      type="tel"
                      class="form-control"
                      aria-describedby="surface"
                      id="surface"
                      formControlName="surface"
                      style="width: 80%"
                    />
                    <span class="input-group-text" id="surface">m²</span>
                  </div>
                  <span class="space-error-msg">
                    <span
                      *ngIf="
                        checkAnnonceFormValidation &&
                        !annonceFormControl.get('surface').valid
                      "
                    >
                      <span
                        *ngIf="
                          annonceFormControl.get('surface').errors[
                            'required'
                          ] || annonceFormControl.get('surface').errors['min']
                        "
                        class="error-message"
                      >
                        Veuillez saisir la surface de proprietaire
                      </span>
                    </span>
                  </span>
                </div>
              </div>
              <div class="col-sm-6">
                <div>
                  <label for="announce" class="form-label">
                    Type de announce</label
                  >
                  <div class="input-group">
                    <select class="form-select" formControlName="typeAnnonce">
                      <option>A vendre</option>
                      <option>A louer</option>
                    </select>
                  </div>
                  <span class="space-error-msg">
                    <span
                      *ngIf="
                        checkAnnonceFormValidation &&
                        !annonceFormControl.get('typeAnnonce').valid
                      "
                    >
                      <span
                        *ngIf="
                          annonceFormControl.get('typeAnnonce').errors[
                            'required'
                          ]
                        "
                        class="error-message"
                      >
                        Veuillez selectionner le type d'annonce
                      </span>
                    </span>
                  </span>
                </div>

                <div>
                  <label for="willaya" class="form-label">Willaya </label>
                  <select
                    class="form-select"
                    id="willaya"
                    formControlName="willaya"
                  >
                    <option *ngFor="let element of willays" [value]="element">
                      {{ element }}
                    </option>
                  </select>
                  <span class="space-error-msg">
                    <span
                      *ngIf="
                        checkAnnonceFormValidation &&
                        !annonceFormControl.get('willaya').valid
                      "
                    >
                      <span
                        *ngIf="
                          annonceFormControl.get('willaya').errors['required']
                        "
                        class="error-message"
                      >
                        Veuillez selectionner la willaya
                      </span>
                    </span>
                  </span>
                </div>

                <div>
                  <label for="etage" class="form-label">Etage</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      name="etage"
                      id="input"
                      formControlName="etage"
                    />
                  </div>
                  <span class="space-error-msg">
                    <span
                      *ngIf="
                        checkAnnonceFormValidation &&
                        !annonceFormControl.get('etage').valid
                      "
                    >
                      <span
                        *ngIf="
                          annonceFormControl.get('etage').errors['required'] ||
                          annonceFormControl.get('etage').errors['min']
                        "
                        class="error-message"
                      >
                        Veuillez saisir combier d'etage
                      </span>
                    </span>
                  </span>
                </div>

                <div>
                  <label for="prix" class="form-label">Prix</label>
                  <div class="input-group">
                    <input
                      type="tel"
                      class="form-control"
                      id="prix"
                      name="prix"
                      formControlName="prix"
                      style="width: 80%"
                    />
                    <span class="input-group-text" id="prix">DZD</span>
                  </div>
                  <span class="space-error-msg">
                    <span
                      *ngIf="
                        checkAnnonceFormValidation &&
                        !annonceFormControl.get('prix').valid
                      "
                    >
                      <span
                        *ngIf="
                          annonceFormControl.get('prix').errors['required'] ||
                          annonceFormControl.get('prix').errors['min']
                        "
                        class="error-message"
                      >
                        Veuillez saisir le prix
                      </span>
                    </span>
                  </span>
                </div>

                <div>
                  <label for="images" class="form-label">Images</label>
                  <div class="input-group">
                    <ngx-dropzone (change)="onSelect($event)">
                      <ngx-dropzone-preview
                        *ngFor="let f of files"
                        [removable]="true"
                        (removed)="onRemove(f)"
                      >
                        <ngx-dropzone-label>{{ f.name }} </ngx-dropzone-label>
                      </ngx-dropzone-preview>
                    </ngx-dropzone>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <button
                type="button"
                class="btn btn-warning"
                (click)="backToProfile()"
                style="color: white"
              >
                Retour
              </button>
              <button
                type="button"
                class="btn btn-primary"
                (click)="nextToOptional()"
                style="background-color: #ff385c; color: white; border: unset"
              >
                Suivant
              </button>
            </div>
          </div>
        </div>
        <div
          [class]="showOptionalTab"
          id="v-pills-optional"
          role="tabpanel"
          aria-labelledby="v-pills-optional-tab"
          tabindex="0"
        >
          <div class="shadow-sm p-3 mb-5 bg-body rounded" id="custom-card">
            <h5 class="h5 d-flex justify-content-center">
              Information Optional d'Announce
            </h5>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group pb-4">
                  <label class="form-label">Service et accessibilité</label>
                  <div class="dropdown" (click)="preventClose($event)">
                    <div
                      class="btn btn-secondary dropdown"
                      role="button"
                      id="dropdownMenuButton01"
                      data-bs-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <div class="data-selected"></div>
                    </div>

                    <div
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton01"
                    >
                      <ul class="list-unstyled">
                        <li *ngFor="let item of serviceAccessibilityList">
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              [value]="item"
                              id="{{ item }}"
                              (click)="$event.stopPropagation()"
                            />
                            <label class="form-check-label" for="{{ item }}">
                              {{ item }}
                            </label>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="form-group pb-4">
                  <label class="form-label">hygiène</label>
                  <div class="dropdown" (click)="preventClose($event)">
                    <div
                      class="btn btn-secondary dropdown"
                      role="button"
                      id="dropdownMenuButton02"
                      data-bs-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <div class="data-selected"></div>
                    </div>

                    <div
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton02"
                    >
                      <ul class="list-unstyled">
                        <li *ngFor="let item of hygieneList">
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              [value]="item"
                              id="{{ item }}"
                              (click)="$event.stopPropagation()"
                            />
                            <label class="form-check-label" for="{{ item }}">
                              {{ item }}
                            </label>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="form-group pb-4">
                  <label class="form-label">pièces</label>
                  <div class="dropdown" (click)="preventClose($event)">
                    <div
                      class="btn btn-secondary dropdown"
                      role="button"
                      id="dropdownMenuButton"
                      data-bs-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <div class="data-selected"></div>
                    </div>

                    <div
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton"
                    >
                      <ul class="list-unstyled">
                        <li *ngFor="let item of piecesList">
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              [value]="item"
                              id="{{ item }}"
                              (click)="$event.stopPropagation()"
                            />
                            <label class="form-check-label" for="{{ item }}">
                              {{ item }}
                            </label>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="form-group pb-4">
                  <label class="form-label">service public</label>
                  <div class="dropdown" (click)="preventClose($event)">
                    <div
                      class="btn btn-secondary dropdown"
                      role="button"
                      id="dropdownMenuButton"
                      data-bs-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <div class="data-selected"></div>
                    </div>

                    <div
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton"
                    >
                      <ul class="list-unstyled">
                        <li *ngFor="let item of publicServcieList">
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              [value]="item"
                              id="{{ item }}"
                              (click)="$event.stopPropagation()"
                            />
                            <label class="form-check-label" for="{{ item }}">
                              {{ item }}
                            </label>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="pb-4">
                  <label for="climatisation" class="form-label">
                    Climatisation</label
                  >
                  <div class="input-group">
                    <select class="form-select">
                      <option>Non Exist</option>
                      <option>Exist</option>
                    </select>
                  </div>
                </div>

                <div class="pb-4">
                  <label for="chauffage" class="form-label"> Chauffage</label>
                  <div class="input-group">
                    <select class="form-select">
                      <option>Central</option>
                      <option>Chemini</option>
                    </select>
                  </div>
                </div>

                <div class="pb-4">
                  <label for="cuisin" class="form-label"> Cuisin</label>
                  <div class="input-group">
                    <select class="form-select">
                      <option>Séparer</option>
                      <option>Coin</option>
                    </select>
                  </div>
                </div>

                <div class="pb-4">
                  <label for="disponible" class="form-label"
                    >La disponibilité</label
                  >
                  <div class="input-group">
                    <input type="text" class="form-control" name="disponible" />
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <button
                type="button"
                class="btn btn-warning"
                style="color: white"
                (click)="backToAnnonce()"
              >
                Retour
              </button>
              <button
                type="button"
                class="btn btn-danger"
                style="background-color: #ff385c; color: white; border: unset"
              >
                Valide
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
